Usms.Gateway/QueueProviders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="usmsgw">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="queueProviders">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="queueProvider">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="assembly" type="xs:string" />
                    <xs:element name="class" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="enabled" type="xs:boolean" use="required" />
                  <xs:attribute name="default" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>